.main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card.one {
    flex: 1;
    background-color: #4735f0;
    width: 200px;
    height: 300px;
    position: relative;
    border-radius: 7px;
}

.card.two {
    background-color: #ffffff;
    width: 200px;
    height: 300px;
}

.card.one > .title {
    color: #b8aaf8;
    text-align: center;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #442cdc;
    position: absolute;
    top: 50px;
    left: 65px;
}
.circle p {
    text-align: center;
    color:#ffffff;
}

.circle {
    font-size: x-small;
}
.circle p span {
    font-size:x-large;
    color: #ffffff;
    font-weight: bold;
}


.great {
    position: absolute;
    top: 150px;
    text-align: center;
    color:#dfdef7;
    font-weight: 400;
    padding: 10px;
}

.second-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  
}

.summary {
    width: 120px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.summary.one {
    color: hsl(0, 100%, 67%);
    background-color: #fff6f5 ;
}

.summary.two {
    color: hsl(39, 100%, 56%);
    background-color: #fffbf1;
}

.summary.three {
    color: hsl(166, 100%, 37%);
    background-color: #f2fbfa; 
}

.summary.four {
    color: hsl(234, 85%, 45%);
    background-color: #f3f3fd; 
}
.summary span {
    margin-left: 17px;
    font-size: small;
}

@media (min-width: 375px) {
    .main-container {
        flex-direction: column;
    }
}